body {
    margin: 0;
    font-size: 16px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #c4c4c4;
    padding: 0 50px 50px;
    gap: 50px;

}

.card {
    width: 300px;
    background-color: lightgreen;
    text-align: center;
    padding: 50px 25px 25px;
    margin-top: 50px;
    cursor: pointer;
}

.modal-outer {
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

    .modal-inner {
        max-width: 1000px;
        height: calc(100vh - 100px);
        background-color: azure;
        position: relative;
        margin: 0 auto;
        top: 30%;
        padding: 25px 25px;
        text-align: center;
        display: grid;
        grid-template-columns: 50px 1fr 50px;
    }

    .modal-inner figure {
        height: 100%;
        display: grid;
        margin: 0;
        grid-template-rows: 1fr auto;
      }

    .modal-inner img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .next, .prev {
        font-size: 36px;
    }

* {
    outline: 1px solid red;
}