body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1C1C1C;
    font-family: sans-serif;
}

main {
    width: 550px;
    min-height: 720px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

#send-btn {
    width: 100%;
    text-align: center;
    height: 44px;
    border-radius: 10px;
    color: white;
    font-weight: medium;
    line-height: 24px;
    font-size: 16px;
    background-color: #3A69D2;
    border: none;
    padding: 9px 15px;
}

#send-btn i {
    margin: 0 10px;
}

#remove-btn {
    font-size: 10px;
    background-color: transparent;
    border: none;
    color: #D5D4D8;
    margin-left: 15px;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 190px;
    background-color: #3A69D2;
    color: white;
}

.container {
    padding: 35px 35px 0px 35px;
    background-color: #1F2937;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.send-container {
    padding: 35px 35px 50px 35px;
    background-color: #1F2937;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.subhead {
    font-size: 16px;
    line-height: 28px;
}

.service-btn {
    width: 145px;
    height: 45px;
    font: #4A4E74;
    background-color: #D1D4F4;
    border: 1px solid #4A4E74;
    border-radius: 10px;
}

.currency {
    color: #918E9B;
    font-weight: light;
    font-size: 24px;
}

.price {
    font-size: 24px;
    font-weight: medium;
    line-height: 20px;
}

.note {
    color: #F5F5F5;
}

#invoice-total {
    font-size: 36px;
    line-height: 32px;
    color: #F5F5F5;
}

.alert {
    max-width: 500px;
    z-index: 9999;
    position: fixed;
    text-align: center;
    height: 0px;
    opacity: 0%;
    top: 100px;
    left: 30%;
    right: 30%;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    transition: all 1.5s ease-out;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.open {
    height: 1.2rem;
    opacity: 100%;
}

h1 {
    margin: 0px;
    line-height: 40px;
    font-size: 40px;
}

table {
    width: 100%;
}

thead {
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    color: #D5D4D8;
}

tfoot {
    font-size: 12px;
    line-height: 32px;
    color: #D5D4D8;
}

tfoot tr td {
    padding: 0px;
}

td {
    width: 50%;
    padding: 10px;
}

tr td:nth-of-type(2) {
    text-align: right;
}

button:hover {
    border: 2px solid white;
}

hr {
    width: 100%;
    color: #C3C6DB;
}